<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/demo.css">
    <title>banner Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-banner">
            <h3 class="c-banner__title">بوابة الدفع عبر بايونير متاحة!</h3>
            <p class="c-banner__desc">تم إضافة بوابة الدفع عبر بايونير لكل متاجر الموقع، تستطيع ربط حسابك في بايونير لتستقبل الأموال عبرها.</p>
            <a href="#" class="c-btn c-btn--ghost c-banner__action">اكتشف المزيد</a>
            <i class="c-icon c-icon--flag c-banner__icon"></i>
            <i class="c-icon c-icon--cancel c-banner__close"></i>
        </div>

        <div class="c-banner c-banner--success">
            <h3 class="c-banner__title">بوابة الدفع عبر بايونير متاحة!</h3>
            <p class="c-banner__desc">تم إضافة بوابة الدفع عبر بايونير لكل متاجر عربي، تستطيع ربط حسابك في بايونير لتستقبل الأموال عبرها.</p>
            <a href="#" class="c-btn c-btn--ghost c-banner__action">اكتشف المزيد</a>
            <i class="c-icon c-icon--flag c-banner__icon"></i>
            <i class="c-icon c-icon--cancel c-banner__close js-banner-close"></i>
        </div>
    </div>
    <script src="../assets/js/banner.js" charset="UTF-8"></script>
</body>
</html>