<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/demo.css">
    <title>button's page</title>
</head>
<body>
    <div class="component-container">
        <button class="c-btn">افتراضي</button>
        <button class="c-btn c-btn--primary">رئيسي</button>
        <button class="c-btn c-btn--destructive">الحذف</button>
        <button class="c-btn c-btn--ghost">شفاف</button>
        <button class="c-btn c-btn--slim">ضيق</button>
    </div>
</body>
</html>