<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/demo.css">
    <title>TEXTFIELD Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-textfield">
            <label for="normal" class="c-textfield__label">مدخل عادي</label>
            <input type="text" class="c-textfield__input" placeholder="ادخل المحتوى" id="normal">
            <span class="c-textfield__hint"></span>
        </div>

        <div class="c-textfield">
            <label for="textarea" class="c-textfield__label">مدخل عادي</label>
            <textarea class="c-textfield__textarea" placeholder="ادخل المحتوى" id="textarea"></textarea>
            <span class="c-textfield__hint">ملاحظات من أجل المدخل</span>
        </div>
    </div>
</body>
</html>