$icomoon-font-path: "fonts" !default;

$c-icon--product: "\e911";
$c-icon--logout: "\e912";
$c-icon--flag: "\e928";
$c-icon--add: "\e900";
$c-icon--arrow-down: "\e902";
$c-icon--arrow-left: "\e903";
$c-icon--arrow-right: "\e904";
$c-icon--arrow-up: "\e906";
$c-icon--cancel-small: "\e908";
$c-icon--cancel: "\e909";
$c-icon--chevron-down: "\e90d";
$c-icon--chevron-left: "\e90e";
$c-icon--chevron-right: "\e90f";
$c-icon--chevron-up: "\e910";
$c-icon--delete: "\e918";
$c-icon--disable: "\e919";
$c-icon--duplicate: "\e91b";
$c-icon--export: "\e91d";
$c-icon--external: "\e91e";
$c-icon--horizontal-dots: "\e91f";
$c-icon--import: "\e920";
$c-icon--notes: "\e921";
$c-icon--refresh: "\e923";
$c-icon--risk: "\e924";
$c-icon--save: "\e925";
$c-icon--search: "\e926";
$c-icon--view: "\e927";
$c-icon--help: "\e905";
$c-icon--settings: "\e907";
$c-icon--dashboard: "\e901";

